.layers-scene
{
    font-weight: bold;
    font-size: 14px;
    padding: 4px 12px;
    color: rgb(210, 210, 210);
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    margin-top: 2px;
    margin-bottom: 4px;
    user-select: none;
}

[cursor-locked="0"] .layers-scene:hover
{
    background: rgb(42, 42, 42);
}

.layers-scene[contenteditable="plaintext-only"]
{
    outline: none;
    margin: 4px;
    margin-top: 2px;
    padding: 6px 10px;
    border: 2px solid white;
    white-space: pre-wrap;
    background: rgb(32, 32, 32) !important;
}

.layers-wrap
{
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: auto;
}

.layers-wrap[renaming-scene="1"]
{
    height: calc(100% - 38px);
}

.layers
{
    user-select: none;
    width: 100%;
    height: 100%;
}

.layers .item
{
    padding: 4px;
    padding-left: 24px;
    height: 16px;
    position: absolute;
    width: calc(100% - 28px);
}

.layers .item[focused="1"]
{
    background: rgb(120, 130, 170) !important;
    z-index: 1;
}

[cursor-locked="0"] .layers .item:hover
{
    background: rgb(68, 68, 68);
}

.layers .label
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    width: calc(100% - 40px);
}

.layers .visibility
{
    width: 18px;
    height: 18px;
    padding: 3px;
    position: absolute;
    right: 16px;
    top: 0;
    user-select: none;
}

[cursor-locked="0"] .layers .visibility:hover
{
    background: rgba(255, 255, 255, 0.2);
}